.header a, .header a:hover, .header a:focus {
    color: var(--rz-primary)
}

.rz-panel-menu .rz-navigation-item-link {
    background: radial-gradient(circle, transparent 1%, rgba(255,255,255,0.08) 1%) center/15000%
}

    .rz-panel-menu .rz-navigation-item-link:active {
        background-color: rgba(255,255,255,0.08)
    }

.rz-steps .rz-steps-item:not(:last-child):after {
    background-color: var(--rz-base-600)
}

.rz-chkbox-box:hover:not(.rz-state-disabled):after {
    background-color: var(--rz-base-300)
}

.rz-chkbox-box:active:not(.rz-state-disabled):after {
    background-color: var(--rz-base-200)
}

.rz-switch .rz-switch-circle:hover:not(.rz-disabled):before {
    box-shadow: var(--rz-switch-box-shadow),0 0 0 10px rgba(255,255,255,0.08)
}

.rz-radiobutton-box:hover:not(.rz-state-disabled):after {
    background-color: var(--rz-base-300)
}

.rz-radiobutton-box:active:not(.rz-state-disabled):after {
    background-color: var(--rz-base-200)
}

.rz-selectbutton .rz-button:hover, .rz-selectbutton .rz-paginator-element:hover {
    background: var(--rz-base-600)
}

.rz-fileupload-choose.rz-button, .rz-fileupload-choose.rz-paginator-element {
    background: radial-gradient(circle, transparent 1%, rgba(255,255,255,0.08) 1%) center/15000%
}

    .rz-fileupload-choose.rz-button:active, .rz-fileupload-choose.rz-paginator-element:active {
        background-color: rgba(255,255,255,0.08)
    }

.rz-datatable .rz-col-icon {
    border-right: var(--rz-border-base-600)
}

.rz-grid-table-composite {
    --rz-grid-right-cell-border: var(--rz-border-base-600);
    --rz-grid-header-cell-border: var(--rz-border-base-600)
}

.rz-tree-toggler:active:after {
    background-color: var(--rz-base-200)
}

.rz-scheduler-nav .rz-button:hover, .rz-scheduler-nav .rz-paginator-element:hover {
    background: var(--rz-base-600)
}

.rz-tabview.rz-tabview-top > .rz-tabview-panels {
    border-top: var(--rz-border-base-600)
}

.rz-tabview.rz-tabview-bottom > .rz-tabview-panels {
    border-bottom: var(--rz-border-base-600)
}

.rz-tabview.rz-tabview-left > .rz-tabview-panels {
    border-left: var(--rz-border-base-600)
}

.rz-tabview.rz-tabview-right > .rz-tabview-panels {
    border-right: var(--rz-border-base-600)
}

:root {
    --rz-white: #fff;
    --rz-black: #000;
    --rz-base-50: #e0e0e0;
    --rz-base-100: #a0a0a0;
    --rz-base-200: #6c6c6c;
    --rz-base-300: #545454;
    --rz-base-400: #383838;
    --rz-base-500: #333;
    --rz-base-600: #2e2e2e;
    --rz-base-700: #252525;
    --rz-base-800: #1e1e1e;
    --rz-base-900: #121212;
    --rz-primary: #bb86fc;
    --rz-primary-light: #c99efd;
    --rz-primary-lighter: rgba(187,134,252,0.12);
    --rz-primary-dark: #966bca;
    --rz-primary-darker: #7f5bab;
    --rz-secondary: #01a299;
    --rz-secondary-light: #34b5ad;
    --rz-secondary-lighter: rgba(1,162,153,0.12);
    --rz-secondary-dark: #01827a;
    --rz-secondary-darker: #016e68
}

:root {
    --rz-body-background-color: var(--rz-base-900)
}

:root {
    --rz-text-title-color: var(--rz-base-50);
    --rz-text-color: var(--rz-base-50);
    --rz-text-secondary-color: var(--rz-base-100);
    --rz-text-tertiary-color: var(--rz-base-200);
    --rz-text-disabled-color: var(--rz-base-300);
    --rz-text-contrast-color: var(--rz-white)
}

.rz-text-title-color {
    color: var(--rz-base-50) !important
}

.rz-text-color {
    color: var(--rz-base-50) !important
}

.rz-text-secondary-color {
    color: var(--rz-base-100) !important
}

.rz-text-tertiary-color {
    color: var(--rz-base-200) !important
}

.rz-text-disabled-color {
    color: var(--rz-base-300) !important
}

.rz-text-contrast-color {
    color: var(--rz-white) !important
}

:root {
    --rz-base-background-color: var(--rz-base-800)
}

:root {
    --rz-border-normal: var(--rz-border-width) solid var(--rz-base-300);
    --rz-border-hover: var(--rz-border-width) solid var(--rz-base-100);
    --rz-border-focus: var(--rz-border-width) solid var(--rz-primary);
    --rz-border-disabled: var(--rz-border-width) solid var(--rz-base-500)
}

:root {
    --rz-menu-background-color: var(--rz-base-700);
    --rz-menu-item-hover-color: var(--rz-white);
    --rz-menu-item-hover-background-color: var(--rz-base-400);
    --rz-menu-item-selected-color: var(--rz-primary);
    --rz-menu-item-icon-hover-color: var(--rz-white);
    --rz-menu-top-item-color: var(--rz-text-color);
    --rz-menu-top-item-background-color: var(--rz-base-700);
    --rz-menu-top-item-hover-color: var(--rz-primary);
    --rz-menu-top-item-hover-background-color: var(--rz-base-700);
    --rz-menu-top-item-selected-color: var(--rz-primary);
    --rz-menu-top-item-icon-color: var(--rz-text-color);
    --rz-menu-top-item-icon-hover-color: var(--rz-primary)
}

:root {
    --rz-panel-menu-color: var(--rz-text-color);
    --rz-panel-menu-hover-background-color: var(--rz-base-600);
    --rz-panel-menu-hover-color: var(--rz-white);
    --rz-panel-menu-item-border: var(--rz-border-base-600);
    --rz-panel-menu-item-2nd-level-hover-background-color: var(--rz-base-600);
    --rz-panel-menu-item-3rd-level-hover-background-color: var(--rz-base-600);
    --rz-panel-menu-icon-color: var(--rz-text-secondary-color)
}

:root {
    --rz-profile-menu-background-color: var(--rz-base-700);
    --rz-profile-menu-top-item-background-color: var(--rz-primary-lighter);
    --rz-profile-menu-toggle-button-color: var(--rz-text-color);
    --rz-profile-menu-item-hover-background-color: var(--rz-base-400)
}

:root {
    --rz-steps-color: var(--rz-text-secondary-color);
    --rz-steps-number-color: var(--rz-text-secondary-color);
    --rz-steps-number-background-color: var(--rz-base-600)
}

:root {
    --rz-checkbox-checked-disabled-background-color: var(--rz-base-300);
    --rz-checkbox-checked-disabled-border: var(--rz-border-300);
    --rz-checkbox-checked-icon-background-color: rgba(0, 0, 0, 0)
}

:root {
    --rz-switch-background-color: var(--rz-base-600);
    --rz-switch-circle-background-color: var(--rz-text-color)
}

:root {
    --rz-radio-checked-color: var(--rz-text-color)
}

:root {
    --rz-fieldset-border: var(--rz-border-base-600);
    --rz-fieldset-legend-color: var(--rz-text-secondary-color);
    --rz-fieldset-toggle-background-color: rgba(0, 0, 0, 0);
    --rz-fieldset-toggle-color: var(--rz-text-secondary-color)
}

:root {
    --rz-dropdown-item-hover-background-color: var(--rz-base-400);
    --rz-dropdown-item-hover-color: var(--rz-white);
    --rz-dropdown-filter-border: var(--rz-border-base-500);
    --rz-dropdown-open-background-color: var(--rz-base-600)
}

:root {
    --rz-listbox-filter-border: var(--rz-border-base-500)
}

:root {
    --rz-slider-disabled-background-color: var(--rz-base-400);
    --rz-slider-disabled-range-background-color: var(--rz-base-200);
    --rz-slider-disabled-handle-background-color: var(--rz-base-200)
}

:root {
    --rz-selectbar-border: var(--rz-border-base-600);
    --rz-selectbar-selected-border: var(--rz-border-base-600)
}

:root {
    --rz-datepicker-calendar-hover-color: var(--rz-white);
    --rz-datepicker-calendar-hover-background-color: var(--rz-base-600);
    --rz-datepicker-calendar-selected-hover-background-color: var(--rz-secondary-dark);
    --rz-timepicker-button-background-color: var(--rz-base-700);
    --rz-timepicker-border: var(--rz-border-base-600)
}

:root {
    --rz-numeric-button-background-color: rgba(0, 0, 0, 0);
    --rz-numeric-button-disabled-background-color: rgba(0, 0, 0, 0)
}

:root {
    --rz-upload-button-bar-background-color: var(--rz-base-700);
    --rz-upload-files-remove-background-color: var(--rz-base-600);
    --rz-upload-choose-background-color: var(--rz-base-600);
    --rz-upload-choose-hover-background-color: var(--rz-base-400);
    --rz-upload-choose-hover-color: var(--rz-white);
    --rz-upload-choose-active-background-color: var(--rz-base-400);
    --rz-upload-choose-active-color: var(--rz-white);
    --rz-upload-cancel-background-color: var(--rz-base-600)
}

:root {
    --rz-grid-cell-border: var(--rz-border-base-600);
    --rz-grid-bottom-cell-border: var(--rz-border-base-600);
    --rz-grid-hover-background-color: var(--rz-base-600);
    --rz-grid-hover-color: var(--rz-white);
    --rz-grid-stripe-background-color: var(--rz-base-900);
    --rz-grid-header-cell-border-bottom: var(--rz-border-base-600);
    --rz-grid-header-sorted-background-color: var(--rz-base-600);
    --rz-grid-foot-background-color: var(--rz-base-600);
    --rz-grid-border: var(--rz-border-base-600);
    --rz-grid-detail-template-background-color: var(--rz-base-900);
    --rz-grid-frozen-cell-border: var(--rz-border-base-600);
    --rz-grid-group-header-item-background-color: var(--rz-base-600);
    --rz-grid-group-header-item-border: var(--rz-border-base-600)
}

:root {
    --rz-paginator-background-color: rgba(0, 0, 0, 0);
    --rz-paginator-numeric-button-background-color: rgba(0, 0, 0, 0);
    --rz-paginator-numeric-button-hover-background-color: var(--rz-base-600);
    --rz-paginator-numeric-button-hover-color: var(--rz-white);
    --rz-paginator-back-button-background-color: rgba(0, 0, 0, 0);
    --rz-paginator-back-button-color: var(--rz-text-color);
    --rz-paginator-back-button-hover-background-color: var(--rz-base-600);
    --rz-paginator-back-button-hover-color: var(--rz-white);
    --rz-paginator-next-button-background-color: rgba(0, 0, 0, 0);
    --rz-paginator-next-button-hover-background-color: var(--rz-base-600);
    --rz-paginator-next-button-hover-color: var(--rz-white);
    --rz-paginator-summary-color: var(--rz-text-secondary-color)
}

:root {
    --rz-overlay-background-color: var(--rz-base-600)
}

:root {
    --rz-tree-background-color: rgba(0, 0, 0, 0);
    --rz-tree-node-hover-background-color: var(--rz-base-600);
    --rz-tree-node-hover-color: var(--rz-white)
}

:root {
    --rz-datalist-border: var(--rz-border-base-600);
    --rz-datalist-item-border: var(--rz-border-base-600)
}

:root {
    --rz-scheduler-border: var(--rz-border-base-600);
    --rz-scheduler-border-color: var(--rz-base-600);
    --rz-scheduler-minor-border-color: var(--rz-base-700);
    --rz-scheduler-color: var(--rz-text-secondary-color);
    --rz-scheduler-view-button-border: var(--rz-border-base-600);
    --rz-scheduler-view-selected-border-color: var(--rz-base-600);
    --rz-scheduler-header-border: var(--rz-border-base-600);
    --rz-scheduler-weekend-color: var(--rz-text-tertiary-color);
    --rz-scheduler-weekend-background-color: var(--rz-base-700);
    --rz-scheduler-other-month-background-color: var(--rz-base-900)
}

:root {
    --rz-tabs-background-color: var(--rz-base-background-color);
    --rz-tabs-tab-background-color: rgba(0, 0, 0, 0);
    --rz-tabs-tab-selected-top-border-color: var(--rz-primary);
    --rz-tabs-tab-hover-background-color: var(--rz-base-900)
}

:root {
    --rz-dialog-background-color: var(--rz-base-900);
    --rz-dialog-title-background-color: var(--rz-base-900);
    --rz-dialog-mask-background-color: var(--rz-black)
}

:root {
    --rz-notification-container-background-color: var(--rz-base-800)
}

:root {
    --rz-scrollbar-background-color: rgba(0, 0, 0, 0);
    --rz-scrollbar-color: rgba(255, 255, 255, 0.12)
}

:root {
    --rz-chart-axis-color: var(--rz-base-300);
    --rz-chart-axis-label-color: var(--rz-text-secondary-color);
    --rz-chart-tooltip-background: var(--rz-base-background-color);
    --rz-chart-tooltip-color: var(--rz-text-color)
}

:root {
    --rz-editor-border: var(--rz-border-base-600);
    --rz-editor-separator-background-color: var(--rz-base-600)
}

:root {
    --rz-splitter-bar-color: var(--rz-text-color)
}

:root {
    --rz-sidebar-border-right: var(--rz-border-base-900)
}

:root {
    --rz-accordion-item-border: var(--rz-border-base-600)
}

:root {
    --rz-panel-item-border: var(--rz-border-base-600)
}

.rz-alert.rz-base {
    --rz-alert-background-color: var(--rz-base-600)
}

.rz-alert.rz-light {
    --rz-alert-background-color: var(--rz-base-600)
}

.rz-alert.rz-variant-outlined.rz-light {
    box-shadow: inset 0 0 0 var(--rz-border-width) var(--rz-text-color);
    --rz-alert-color: var(--rz-text-color);
    --rz-alert-title-color: var(--rz-text-color);
    --rz-alert-icon-color: var(--rz-text-color)
}

.rz-alert.rz-variant-text.rz-light {
    --rz-alert-color: var(--rz-text-color);
    --rz-alert-title-color: var(--rz-text-color);
    --rz-alert-icon-color: var(--rz-text-color)
}

.rz-alert.rz-dark {
    --rz-alert-background-color: var(--rz-black);
    --rz-alert-color: var(--rz-text-color);
    --rz-alert-title-color: var(--rz-text-color);
    --rz-alert-icon-color: var(--rz-text-color)
}

.rz-alert.rz-variant-outlined.rz-dark {
    box-shadow: inset 0 0 0 var(--rz-border-width) var(--rz-black);
    --rz-alert-color: var(--rz-black);
    --rz-alert-title-color: var(--rz-black);
    --rz-alert-icon-color: var(--rz-black)
}

.rz-alert.rz-variant-text.rz-dark {
    --rz-alert-color: var(--rz-black);
    --rz-alert-title-color: var(--rz-black);
    --rz-alert-icon-color: var(--rz-black)
}

.rz-button.rz-variant-text.rz-dark {
    color: var(--rz-base-300)
}

.rz-button.rz-variant-flat.rz-light {
    color: var(--rz-base-300);
    background-color: var(--rz-base-700)
}
